{% extends 'base.html' %}
{% block content %}
<h1>Gothly Realm</h1>

<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

<h2>Welcome, {{ username }}!</h2>

{% if not products %}
<p>Belum ada data produk pada Gothly Realm.</p>
{% else %}
<table>
    <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Stock</th>
    <th>Category</th>
    <th>Rating</th>
    </tr>

    {% for product in products %}
    <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.stock}}</td>
    <td>{{product.category}}</td>
    <td>{{product.rating}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:add_product' %}">
    <button>Add New Product</button>
</a>
<a href="{% url 'main:logout' %}">
    <button>Logout</button>
  </a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}